/*--------------------------------------------------------------------------
| Global Styles
'-------------------------------------------------------------------------*/
.container {
    background-color: lightgray;
    background: url("/assets/img/bg.png") repeat;
}

.toolbar-subhead {
    padding-left: 10px;
}

.toolbar-button {
    min-width: 20px;
}

.text-center {
    text-align: center !important;
}

.text-red {
    color: #d70300 !important;
}

/*--------------------------------------------------------------------------
| Global Styles
'-------------------------------------------------------------------------*/
.selected > a {
    background-color: rgba(158, 158, 158, 0.2);
}

/*--------------------------------------------------------------------------
| Material Icons
'-------------------------------------------------------------------------*/
.material-icons {
    vertical-align: middle;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/*--------------------------------------------------------------------------
| Animations
'-------------------------------------------------------------------------*/
.md-spin {
    -webkit-animation: md-spin 2s infinite linear;
    animation: md-spin 2s infinite linear;
}

.md-pulse {
    -webkit-animation: md-spin 1s infinite steps(8);
    animation: md-spin 1s infinite steps(8);
}

@-webkit-keyframes md-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes md-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}